<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
  <add key="WinCCExePath" value="C:\Program Files (x86)\Siemens\Automation\WinCC RT Advanced\HmiRTM.exe"/>
  <add key="WinCCIniPath" value="C:\Program Files (x86)\Siemens\Automation\WinCC RT Advanced\HmiRTM.ini"/>
  <add key="终端1组态文件位置" value="E:\Project\2017\GD-OPPO\设计文档\Code\OPPO输送线_V15\IM\HMI\C\1\Generates\pdata.fwc"/>
  <add key="终端2组态文件位置" value="E:\Project\2017\GD-OPPO\设计文档\Code\OPPO输送线_V15\IM\HMI\C\5\Generates\pdata.fwc"/>
  <add key="终端3组态文件位置" value="E:\Project\2017\GD-OPPO\设计文档\Code\OPPO输送线_V15\IM\HMI\C\5\Generates\pdata.fwc"/>
   <add key="终端4组态文件位置" value="E:\Project\2017\GD-OPPO\设计文档\Code\OPPO输送线_V15\IM\HMI\C\5\Generates\pdata.fwc"/>
     </appSettings>	
</configuration>